
[submodule "ThirdParty/asio"]
	path = ThirdParty/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "ThirdParty/concurrency"]
	path = ThirdParty/concurrency
	url = https://github.com/GMLC-TDC/concurrency.git
[submodule "ThirdParty/NetIF"]
	path = ThirdParty/NetIF
	url = https://github.com/GMLC-TDC/NetIF.git
